.displayweather {
    margin-top: 20px;
    display: flex;
    flex-flow: column nowrap;
    
  }

  .displayweather .maincard {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    align-self: center;
    padding: 50px;
    border-radius: 20px;
    position: relative;
    background: rgb(245, 242, 242);
    border: 1px solid black;
  }
  
  .displayweather .maincard .cardtitle {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5rem;
  }
  
  .displayweather .maincard .cardsubtitle {
    position: absolute;
    left: 10px;
  
    color: gray;
    margin-top: -8px;
  }
  .displayweather h1 {
    font-size: 5rem;
    margin: 10px;
    margin-left: 150px;
    position: relative;
  }
  
  
  
  .displayweather .weather-main {
    position: absolute;
    top: 120px;
    left: 410px;
    font-weight: 500;
    font-size: 1.2rem;
  }
  
  .displayweather .weather-description {
    position: absolute;
    left: 10px;
    font-size: 1.2rem;
  }

  .displayweather .weatherdetails {
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    gap: 50px;
  }
  .displayweather .weatherdetails .section1 {
    justify-self: right;
    width: 300px;
  }
  
  h4 {
    text-align: left;
    margin-right: 30px;
    font-size: 1.2rem;
  }
  
  td {
    border-bottom: 2px dashed white;
  }
  
  .displayweather .weatherdetails span {
    font-size: 1.2rem;
  }

  /*Mobile Responsive*/
  @media(max-width: 721px){
    .displayweather .maincard{
      width: 50%;
    }
    .displayweather h1{
      font-size: 4rem;
      margin-left: 100px;
    }
    .displayweather .weatherdetails span{
      font-size: 1rem;
    } 
    h4{
     font-size: 1rem;
    }
  }

  @media(max-width: 613px){
    .displayweather .maincard .cardtitle{
      font-size: 1.2rem;
    }
    .displayweather h1{
      font-size: 3rem;
      margin-left: 80px;
    }
    .displayweather .weatherdetails span{
      font-size: .8rem;
    } 
    h4{
     font-size: .8rem;
    }
  }

  @media(max-width: 572px){
    .displayweather .weatherdetails{
      display: flex;
      flex-direction: column ;
    }
  }

  @media(max-width: 479px){
    .displayweather h1{
      margin-left: 50px;
    }
  }

  @media(max-width: 409px){
    .displayweather h1{
      margin-left: 30px;
    }
  }

  @media(max-width: 367px){
    .displayweather .maincard .weather_time{
      font-size: .8rem;
      margin-top: 12px;
    }
    .displayweather h1{
      margin-left: 10px;
    }
   
  }


  